@font-face {
    font-family: 'PSL-EmpireExtra';
    src: url('../fonts/PSL-EmpireExtra-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB-Moradox-X';
    src: url('../fonts/DB\ MORRADOK\ X.TTF');
    font-weight: normal;
    font-style: normal;
}

.inner-lotto-div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.lotto-title {
    font-family: 'DB-Moradox-X';
    color: #FFDF80;
}

.lotto-1st,
.lotto-last2,
.lotto-front3,
.lotto-last3 {
    font-style: italic;
    text-shadow: 0 0 2px #000000;
    color: white;
    /* border: 3px solid black;0 */
}

.lotto-1st,
.lotto-last2 {
    text-align: end;
}

.lotto-front3,
.lotto-last3 {
    text-align: center;
}

.page-body {
    font-family: 'PSL-EmpireExtra';
    overflow-x: hidden;
    background-color: #000000;
    /* margin-right: -10px; */
}

.bg-main {
    background-color: #B72027;
}

.nav-mobile {
    display: none;
}

.navbar-toggler {
    color: #FFDF80;
    border-color: #FFDF80;
    margin-left: 20px;
}

.navbar-toggler-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    /* position: absolute;
  z-index: 9;
  top: -18px;
  left: 50%;
  margin: 0 auto; */
    position: absolute;
    margin: auto;
    top: -20px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 9999;
}

.nav-link {
    color: white !important;
}

.dropdown-menu,
.bg-web {
    background-color: #9B9B9B;
}

.font15 {
    font-size: 1.5rem;
}


/* .p-menu {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
} */

header>img {
    width: 100%;
}

.main-content {
    background-image: url('../img/top-bg-main.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #000000;
}

.check-huay {
    background-image: linear-gradient(#000000, #545454);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 3px solid #B72027;
}

.check-huay-btn {
    width: 50%;
    border-radius: 50px;
    color: white;
    background-image: linear-gradient(#B10000, #A20000, #FF0000, #BB0000, #A70000);
}

.lotto-today-cover {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lotto-today {
    width: 75%;
}

.copyrigth {
    background-color: #2E2E2E;
}

.copyrigth>span {
    font-size: 1.3rem;
}

.footer-main {
    border-top: 3px solid #FFDF80;
    background-color: #940C12;
}

.footer-menu {
    font-size: 1.3rem;
}

.footer-content {
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
    .p-menu {
        padding-left: .5rem !important;
        padding-right: .5rem !important;
    }
}

@media screen and (min-width: 992px) {
    .p-menu {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
}

@media screen and (max-width: 767px) {
    .p-menu {
        text-align: left !important;
    }
    .lotto-1st,
    .lotto-last2,
    .lotto-front3,
    .lotto-last3 {
        margin-bottom: 0;
        font-size: 1rem;
    }
    /* .img-fluid {
        max-width: 8%;
    } */
    .nav-web,
    .logo-container {
        display: none;
    }
    .nav-mobile {
        display: flex;
        width: 100%;
        overflow: unset !important;
    }
    .p-menu {
        padding-left: 0;
        padding-right: 0;
    }
    .inner-lotto-div {
        padding: 10px;
    }
    .inner-lotto-div div {
        padding: 0;
    }
    .lotto-today-cover {
        justify-content: space-around;
    }
    .lotto-today {
        width: 90%;
    }
    .col-none {
        display: none;
    }
    .footer-content {
        font-size: 1rem;
    }
}